html, body {
    height: 100%;
    margin: 0;
}

body {
    -webkit-align-items: center;
    -webkit-flex-flow: column;
    -webkit-justify-content: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.new-game-wrapper {
    text-align: center;
}

button {
    margin-top: 20px;
    font-size: 0.75em;
}

div, h1, h2, h3 {
    font-family: HelveticaNeue, Helvetica;
    color: #555;
}

input.new-game {
    color: #222;
}

.ask {
    margin-bottom: 20px;
    font-size: 1.25em;
    color: #555;
}
input[type="text"]:hover {
    color: #000;
}
input[type="text"] {
    font-size:1em;
}

.cell {
    text-align: center;
    font-size: 3em;
}

.row {
    /* Flexbox related. */
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
}
.row > div {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.row:nth-child(1) > div {
    border-bottom: 1px solid black;
}
.row:nth-child(2) > div {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.row:nth-child(3) > div {
    border-top: 1px solid black;
}
.row > div:nth-child(1) {
    border-right: 1px solid black;
}
.row > div:nth-child(2) {
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.row > div:nth-child(3) {
    border-left: 1px solid black;
}
/*
div {
    border: 1px solid red;
}
/**/
